:root {
    --it-orange: #f57c00;
    --it-dark: #2f2f2f;
    --it-gray: #f5f5f5;
}

.btn-it {
    background-color: var(--it-orange);
    color: #fff;
    border: none;
}

.btn-it:hover {
    background-color: #e36f00;
    color: #fff;
}

.text-it {
    color: var(--it-orange);
}
/* Footer hover color */
footer a {
    color: #6c757d; /* text-secondary */
    transition: color 0.2s ease-in-out;
}

footer a:hover {
    color: #fb8c00; /* Material warning orange */
}
